<div class="container">
    <div class="row centered-form">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please add your <small> debit</small></h3>
                </div>
                <div class="panel-body">
                    <form class="form" name="debitForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="description" id="description" class="form-control"
                                        placeholder="Description" ng-model="vm.description" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <select ng-model="vm.selectedCategory" name="category" class="custom-select"  ng-options="item as item.label for item in vm.category track by item.id"  ng-change="onchange()" required>
                                        <option selected>Choose category...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    <input type="text" name="value" id="value" class="form-control"
                                        ng-model="vm.value" ng-currency currency-symbol="€" required>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    
                                    <button type="submit" ng-disabled="!(debitForm.description.$valid && debitForm.category.$valid  && debitForm.value.$valid)" 
                                    value="Register" class="btn btn-info btn-block" ng-click="vm.onclickSubmit()" >Register</button>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
                
                <edit-modal show-modal="vm.modal.show" item="vm.modal.item" edit="vm.onclickEdit" />
               
                <div ng-if="vm.debitTable.length > 0">
                    <table datatable="ng" dt-options="vm.dtOptions"  class="row-border hover" width="100%" >
                        <thead>
                            <tr>
                             <th>id</th>
                             <th>description</th>
                             <th>category</th>
                             <th>value</th>
                             <th>actions</th>
                            </tr>
                           </thead>
                           <tbody>
                            <tr ng-repeat="item in vm.debitTable">
                             <td>{{item.id}}</td>
                             <td>{{item.description}}</td>
                             <td>{{item.category }}</td>
                             <td>{{item.value | currency:'€' }}</td>
                             <td><button type="button" ng-click="vm.buttonClicked(item)" class="btn btn-warning btn-xs">Edit</button>
                             |<button type="button" ng-click="vm.onclickDelete(item)" class="btn btn-danger btn-xs">Delete</button> </td>
                                
                            </tr>
                           </tbody>
                    </table>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>